@import "tailwindcss";

:root {
   --stroke-color: #404c51;
   --accent-color: #e2cca3;
   --accent-stroke-color: 160, 136, 91;
   --light-text-color: 197, 197, 197;
   --content-width: 1920px;
   --background-color: #061720;
}

html {
   scroll-behavior: smooth;
}

* {
   font-family: var(--font-source-serif);
}
::selection {
   background-color: rgb(var(--accent-stroke-color));
   color: #fff;
}

::-moz-selection {
   background-color: rgb(var(--accent-stroke-color));
   color: #fff;
}

.center {
   @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
.text-gray-gradient {
   @apply bg-gradient-to-b from-[#FFFFFF] to-[#9C9C9C] bg-clip-text text-transparent inline;
}
.gray-gradient {
   @apply bg-gradient-to-b from-[#112732] to-[#061720];
}

.text-light-gray {
   color: rgba(var(--light-text-color), 0.9);
}

.move-in {
   /* Взагалі, було б правильно це використовувати в gsap.fromTo, але оскільки були мигання, то цей підхід краще.  */
   opacity: 0;
   transform: translateY(-100);
}

.fade-in {
   opacity: 0;
}
