@import "tailwindcss";

:root {
   --stroke-color: #404c51;
   --accent-color: #e2cca3;
   --accent-stroke-color: 160, 136, 91;
   --light-text-color: 197, 197, 197;
   --content-width: 1920px;
   --background-color: #061720;
}

* {
   font-family: var(--font-source-serif);
}
::selection {
   background-color: rgb(var(--accent-stroke-color));
   color: #fff;
}

::-moz-selection {
   background-color: rgb(var(--accent-stroke-color));
   color: #fff;
}

.center {
   @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
.text-gray-gradient {
   @apply bg-gradient-to-b from-[#FFFFFF] to-[#9C9C9C] bg-clip-text text-transparent inline;
}

.text-light-gray {
   color: rgba(var(--light-text-color), 0.9);
}

.notfound {
   display: grid;
   grid-template: auto auto / repeat(2, minmax(100px, 1fr));
   align-items: center;
}
