.tech-grid {
   background: var(--background-color);
   background-image:
      linear-gradient(rgba(var(--accent-stroke-color), 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(var(--accent-stroke-color), 0.05) 1px, transparent 1px);
   background-size: 40px 40px;
}
